<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="theme-color" content="#000000"/>

    <meta name="google-signin-client_id" content="<%= Rails.application.secrets.google_client_id -%>">
    <meta name="keywords" content="cryptocurrency ratings analysis coins tokens"/>
    <meta name="description" content="<%= @description -%>"/>

    <meta property="og:locale" content="en_US"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="<%= @title -%>"/>
    <meta property="og:url" content="<%= @url -%>"/>
    <meta property="og:site_name" content="<%= @title -%>"/>
    <% if @report.present? %>
    <meta property="og:image" content="<%= Rails.application.secrets.base_uri -%>/assets/logos/<%= @report.name.parameterize -%>-600x315.png"/>
    <meta property="og:image" content="<%= Rails.application.secrets.base_uri -%>/assets/logos/<%= @report.name.parameterize -%>-square-600.png"/>
    <meta property="og:image" content="<%= Rails.application.secrets.base_uri -%>/assets/logos/<%= @report.name.parameterize -%>-square-200.png"/>
    <% end %>
    <meta property="og:image" content="<%= @image -%>"/>
    <meta property="og:image:type" content="image/png"/>
    <meta property="og:description" content="<%= @description -%>"/>

    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:title" content="<%= @title -%>"/>
    <% if @report.present? %>
    <meta name="twitter:image" content="<%= Rails.application.secrets.base_uri -%>/assets/logos/<%= @report.name.parameterize -%>-300x157.png"/>
    <% else %>
    <meta name="twitter:image" content="<%= @image -%>"/>
    <% end %>
    <meta name="twitter:description" content="<%= @description -%>"/>

    <link rel="shortcut icon" href="/favicon_orange.ico"/>
    <link rel="manifest" href="/manifest.json"/>
    <link href="<%= @css -%>" rel="stylesheet"/>
    <title><%= @title -%></title>
  </head>
  <body>
    <%= yield %>
    <div id="root"></div>
    <script type="text/javascript" src="<%= @js -%>"></script>
  </body>
</html>
